.container {
  width: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(215, 200, 209);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.100);
}
input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.mb-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}
.mb-3 .form-label {
  width: 100%;
  margin-bottom: 2px;
  text-align: left;
}
.button-container {
  text-align: center;
}
.btn-primary {
  padding: 5px;
  width: 130px;
  height: 35px;
  border-radius: 4px;
  border: none;
  background-color: rgb(179, 149, 108);
  font-weight: bold;
  transition: 0.s 0.3s;
  color: rgb(255, 255, 255);
}
.btn-primary:hover {
  background-color: #1f556c;
  cursor: pointer;
  color: white;
}
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}
.close-icon:hover {
  color: #c41212;
}
#error-msg {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}