table {
  width: 1000px;
  border-collapse: collapse;
  table-layout: fixed;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
th {
  border: 1px solid rgba(201, 198, 195, 0.986);
  padding: 5px;
  text-align: left;
  word-wrap: break-word;
  text-align: center;
  background-color: rgba(247, 141, 141, 0.44);
}
td {
  border: 1px solid rgba(201, 198, 195, 0.986);
  padding-left: 10px;
  text-align: left;
  word-wrap: break-word;   
  background-color: rgb(255, 255, 255);
}
.btnPop {
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 15PX;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: #eec97e;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-left: 857px;
  box-shadow: 2px 2px 10px rgba(25, 25, 25, 0.2);
}
.btnPop:hover {
  background-color: #036580;
}
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} 
#edit-icon {
  cursor: pointer;
  font-size: 18px;
  color: rgba(14, 14, 32, 0.986);
}
#edit-icon:hover {
  color: rgba(11, 11, 247, 0.986);
  transform: scale(1.5);
}
#delete-icon {
  cursor: pointer;
  font-size: 18px;
  color: rgb(10, 10, 10);
} 
#delete-icon:hover {
  color: red;
    transform: scale(1.5);
} 
.icon {
  display: flex;
  gap: 5px; 
  justify-content: center;

}   