
.btn{
    width:50px;
    height:20px;
    border-radius: 50%;
    margin-left: 10px;
    
}
.count
{
    width: 90px;
    height: 50px;
    background-color: rgb(208, 202, 202);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 50px;
    border-radius: 10px;
}
.main
{
    display: flex;
    align-items: center;
    justify-content: center;
}

